/* investr.less */
@investr-bkgd: #006666;
@navbar-bkgd: #F5F5F5;
@invalid: #FF6666;

body {
	background-color: white;

	select {
	   width: auto;
	}
	
	.navbar-inner {
		background-color: @navbar-bkgd;
		background-image: -moz-linear-gradient(center top , @navbar-bkgd, #ffffff);
	}
	
    tr.invalid {
        color: @invalid;
        text-decoration: line-through;
    }
	
	.error {
	   color: red;
	   font-size: 80%;
	}
}

label { display: inline; }

#header-container {
	background: @investr-bkgd;

	#header {
		padding: 2em;
		color: white;
		#site-logo {
			background-image: url('../images/pit-v-sm.png');
			background-repeat: no-repeat;
			background-position: right top;
		}

		#site-title {
			font-size: 200%;
		}

		#top-menu-container {
			float: right;

			label {
				display: inline;
			}

			#player-name {
				padding: 0 2em;
				color: @investr-bkgd;
				background-color: white;
			}
		}
	}
}

#login-container {
	div {
		margin: 1em 0;
	}
	label {
		display: inline-block;
		width: 6em;
	}
	#login-submit-button {
	   margin-right: 1em;
	}
	
}

#games-container {
    .open-game-btn {
        margin-bottom: 0.4em;
    }
    
	table {
		color: @investr-bkgd;
        
		thead {
			tr{
				/*font-size: 9px;*/
				font-weight: bold;
			}
		}
		
	}

	input.order-shares { width: 5em;}
}

#game-container {
	#game-menu-container {
		font-size: 1.2em;
		margin-bottom: 0.7em;
		
		span { margin-right: 1em; }
	}

	#transactions {
		background-color: white;
		color: @investr-bkgd;
	
	
		table {
			color: @investr-bkgd;
	
			thead {
				tr{
					font-size: 9px;
					font-weight: bold;
				}
			}
		}
	}
	
	#orders {
		table {
			color: @investr-bkgd;
	
			thead {
				tr{
					/*font-size: 9px;*/
					font-weight: bold;
				}
			}
		}
	
		input.order-shares { width: 5em;}
	}
	
	
	#portfolio {
		table {
			color: @investr-bkgd;
	
			thead {
				tr{
					/*font-size: 9px;*/
					font-weight: bold;
				}
			}
		}
	}
	
	#securities-pane {
	   .security-detail-btn {
	       width: 160px;
	       margin-bottom: 0.4em;
	   }
	   .security-symbol {
			font-weight: bold;
		}
	}

}