/* investr.less */
@investr-bkgd: #006666;

body {
	background-color: white;
}

label { display: inline; }

#header-container {
	background: @investr-bkgd;

	#header {
		padding: 2em;
		color: white;
		#site-logo {
			background-image: url('../images/pit-v-sm.png');
			background-repeat: no-repeat;
			background-position: right top;
		}

		#site-title {
			font-size: 200%;
		}

		#player-name-container {
			float: right;

			label {
				display: inline;
			}

			#player-name {
				padding: 0 2em;
				color: @investr-bkgd;
				background-color: white;
			}
		}
	}
}

#transaction-pane {
	background-color: white;
	color: @investr-bkgd;


	table {
		color: @investr-bkgd;

		thead {
			tr{
				font-size: 9px;
				font-weight: bold;
			}
		}
	}
}

#securities-selector-pane {
	background-color: pink;
}